
.videoGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
    padding: 20px 0;
}


.categoriesContainer{
    display: flex;
    gap: 5px;
}

.categoryLink{
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 12px;
    color: #fff;
    padding: 8px 16px;
}

.vodeoImg{
    object-fit: cover;
    border-radius: 12px;
    transition: .3s background-color ease;
}

.vodeoImg:hover{
border: 5px solid gray;
border-radius: 14px;
}


.chanelImage{
    display: flex;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    overflow: hidden;
    background: gray;
    border-radius: 50%;
    z-index: 1;

    &:hover{
        background: #bbbbbb;
    }


    .hiddenText{
        width: 0;
        height: 0;
        opacity: 0;
    }
}


.videoInfo{
    display: flex;
    flex-direction: column;
}


.videoInfoContainer{
    display: flex;
    gap: 12px;
    margin-top: 12px;
}


.videoBlock{
    position: relative;
     &:hover .link{
        background: #342a28;
     }
}

.link{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: 14px;
     transition: .3s background-color ease;
     z-index: 0;
}

.chanelNameLink,
.videoTitleLink,
.videoPreview{
position: relative;
z-index: 1;
}

.videoTitleLink{
    text-decoration: none;
    color: #fff;
}

.chanelNameLink{
    text-decoration: none;
    color: #fff;
}

.videoPreview{
    display: flex;
    width: 100%;
    height: 223px;
}



@media (max-width: 1200px) {
.vodeoImg {
    width: 290px;
}

.videoPreview{
    width: 290px;
    height: 223px;
}

}


@media (max-width: 992px) {
 .videoGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding: 20px 0;
    display: grid;
}

  .vodeoImg{
    width: 335px;
}

.videoBlock{
    width: 335px;
}
}


@media (max-width: 768px) {
  .videoGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    padding: 20px 0;
    display: grid;
}

.header_left{
    display: flex;
    align-items: center;
}

/* .vodeoImg{
    width: 250px;
}

.videoBlock{
    width:250px;
} */

.videoPreview {
    width: 498px;
    height: 295px;
}
}

@media (max-width: 576px) {
 .videoGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    padding: 20px 0;
    display: grid;
}

.videoPreview {
    width: 398px;
    height: 295px;
}
}



@media (max-width: 375px) {
   .vodeoImg{
    width: 235px;
}

.videoBlock{
    width: 235px;
}

.videoPreview {
    width: 240px;
    height: 295px;
}
}